body {
    margin: 0;
    text-align: center;
    background: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.container {
    background-image: url(https://ng-sportingnews.com/s3/files/styles/twitter_card_120x120/s3/2024-06/GFX-1433%20LIVE_FTR%20for%20NBA%20Finals%20live%20blog.jpg?itok=1UABBhI5);  
    background-size: cover;
    opacity: 0.9;
    margin: 100px auto;
    height: 800px;
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scores {
  display:flex;
  justify-content: space-around;
}

h3 {
    margin: 12x auto;
    font-size: 56px;
    color: white;
}

h2 {
    font-size: 112px;
    color: #EC2B2B;
    background-color: #282D35;
    opacity: 0.95;
    width: 240px;
}

button {
    background-color: #282D35;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    width: 72px;
    height: 64px;
    font-weight: bold;
    font-size:16px;
}

button: hover {
  background: white;
  color: black;
}

#reset {
    background-color: white;
    color: black;
    border: 1.33px solid white;
    width: 240px;
    margin: 120px auto;
}

#reset:hover {
    background-color: black;
    color: white;
}
